.habilidades{
    position: relative;
}
.habilidades .container-habilidades {
    width:  100%;
    flex-wrap: wrap;
    gap:30px;
}

.habilidades .container-habilidades .habilidade {
    width: 200px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    z-index:999;
}

.habilidades .container-habilidades .habilidade p {
    color: var(--cor-bw-800);
}

.modo-escuro .habilidades .container-habilidades .habilidade p {
    color: var(--cor-bw-200);
}

.habilidades .container-habilidades .habilidade .logo i {
    font-size: 80px;
    aspect-ratio: 1;
    color: var(--cor-hiperlink);
}

