.header {
    background-color: var(--cor-bw-300-com-opacidade);
    backdrop-filter: var(--global-backdrop-filter);
    -webkit-backdrop-filter: var(--global-backdrop-filter);
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header-container {
    max-width: 1280px;
    margin: auto;
}

.header-container .alinhar-itens-centro {
    min-height: 50px;
}

.modo-escuro .header {
    background-color: var(--cor-bw-800-com-opacidade);
}

.header .logo {
    font-size: 20px;
    font-weight: 900;
    border: 1px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    transition: var(--transition-ease-in-out);
}

.modo-escuro .header .logo {
    color: var(--cor-bw-50);
}

.header a:hover .logo {
    text-shadow: 0rem 0rem 1rem var(--cor-hiperlink);
    color: var(--cor-hiperlink);
    box-shadow: 0px 0px 20px var(--cor-hiperlink);

}

.modo-escuro .header a .logo.ativado {
    text-shadow: 0rem 0rem 1rem var(--cor-hiperlink);
    color: var(--cor-hiperlink);
    box-shadow: 0px 0px 30px var(--cor-hiperlink);

}

.header nav ul li a {
    text-transform: capitalize;
    font-size: var(--fonte-normal);
    color: var(--preto);
    font-weight: 400;
    padding: 10px 20px;
    transition: var(--transition-linear);
    user-select: none;
}

.modo-escuro .header nav ul li a {
    color: var(--cor-bw-50);

}

.header nav ul li a:hover {
    color: var(--cor-hiperlink);
    border-bottom: 2px solid;
    text-shadow: 0rem 0rem 1rem var(--cor-hiperlink);
}

.header .menu {
    width: 48px;
    height: 48px;
    display: none;
    align-self: flex-end;
}

.header nav label {
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.header .hamburguer {
    position: relative;
    display: block;
    width: 80%;
    height: 3px;
    top: 20px;
    /* transition: opacity .32s cubic-bezier(.4, 0, .6, 1), color .32s cubic-bezier(.4, 0, .6, 1);
    transition-duration: 0.32s, 0.32s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1), cubic-bezier(0.4, 0, 0.6, 1);
    transition-delay: 0s, 0s;
    transition-property: opacity, color; */
}

.header .hamburguer::before,
.header .hamburguer::after {
    background-color: var(--cor-bw-900);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transition: var(--transition-ease-in-out);
}

.modo-escuro .header .hamburguer::before,
.modo-escuro .header .hamburguer::after {
    background-color: var(--cor-bw-50);
}

.header .hamburguer::before {
    top: -5px;
    /* top: 0; */
}

.header .hamburguer::after {
    bottom: -5px;
    /* bottom: 0; */
}

.header nav input {
    display: none;
}

.header input:checked~label .hamburguer::before {
    transform: rotate(45deg);
    top: 0;
    /* animation: up; */
}

.header input:checked~label .hamburguer::after {
    transform: rotate(135deg);
    bottom: 3.5px;
}