.projetos .container-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.projetos .container-projetos .projeto {
    position: relative;
    /* aspect-ratio: 4 / 5; */
    aspect-ratio: 1;
    border-radius: var(--radius-aplicativo);
    overflow: hidden;
    box-shadow: 0 0 5px var(--cor-bw-800-com-opacidade);
    border: 1px solid var(--cor-bw-800-com-opacidade);
}

.modo-escuro .projetos .container-projetos .projeto {
    box-shadow: 0 0 5px var(--cor-bw-300-com-opacidade);
    border: 1px solid var(--cor-bw-300-com-opacidade);
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.projeto:hover .poster:hover {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
    background-position: center;
}

.projeto:hover .poster img {
    transform: scale(1.1);
}

.detalhes {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background-color: var(--cor-bw-300-com-opacidade);
    backdrop-filter: var(--global-backdrop-filter);
    -webkit-backdrop-filter: var(--global-backdrop-filter);
    transition: .3s;
    z-index: 2;
    border-radius: 1.5pc;
}

.modo-escuro .detalhes {
    background-color: var(--cor-bw-800-com-opacidade);
}

.projeto:hover .detalhes {
    bottom: 0;
}

.detalhes h3 {
    font-size: min(var(--fonte-grande), 4vw);
    margin-bottom: 5px;
    font-weight: 700;
}

.detalhes .nivel-dificuldade {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}

.detalhes .nivel-dificuldade i {
    color: var(--cor-amarelo);
}

.detalhes .nivel-dificuldade span {
    margin-left: 0.25em;
}

.detalhes .linguagens {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
}

.detalhes .linguagens span {
    padding: .35rem .65rem;
    border: 1.5px solid;
    font-size: var(--fonte-pequena);
    opacity: .8;
    border-radius: var(--radius-aplicativo);
}

.detalhes .informacoes-projeto {
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
}

.links-acesso-projeto {
    margin-top: 1rem;
    transform: scale(1.1);
    display: flex;
}

.links-acesso-projeto:hover {
    margin-top: 1rem;
    transform: scale(1.2);
    transform: scale(1);
}

.link-glowing {
    background-color: hsla(0, 0%, 88%, 0.2);
    border-radius: .67rem;
    padding: 2px 8px;
    font-weight: 600;
    border: 1px solid hsla(0, 0%, 88%, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    position: relative;
}

.modo-escuro .link-glowing {
    background-color: rgba(66, 66, 66, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(100, 100, 100, 0.5);
}

.link-glowing:hover {
    box-shadow: none;
}

.link-glowing::before {
    content: '';
    background: linear-gradient(45deg, #e43b37, #fd931d, #f7bc24, #48ff00, #68c74f, #2997ff, #16b0dd, #974994, #e43b37);
    position: absolute;
    background-size: 400%;
    top: -2px;
    left: -2px;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s linear;
}

.link-glowing:hover:before {
    opacity: 1;
}

.link-glowing:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}