.sobre-mim .container-sobre-mim {
    align-items: center;
}

.sobre-mim .img-sobre-mim {
    max-width: 240px;
    min-width: 150px;
    object-fit: cover;
    display: flex;
    border-radius: var(--radius-aplicativo);
    background-color: var(--cor-bw-300);
    padding: 3px;
}

.sobre-mim .img-sobre-mim img {
    border-radius: var(--radius-aplicativo);
    aspect-ratio: 1;
}

.sobre-mim .texto-sobre-mim {
    padding: 0 25px;
}

.sobre-mim .texto-sobre-mim p b {
    font-weight: 600;
}

.modo-escuro .sobre-mim .informacoes-sobre-mim p {
    color: var(--cor-bw-300);
}