  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap');

html {
  font-weight: 300;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--cor-bw-50);
  font-size: var(--fonte-normal);
  transition: all .1s ease-in-out;
  overflow-x: hidden;
}

body.modo-escuro {
  background-color: var(--cor-bw-900);
  color: var(--branco);
}

.container {
  max-width: 1280px;
  margin: auto;
  margin-bottom: 100px;
  padding-top: 55px;
}

.container-sobre-mim,
.container-habilidades,
.container-projetos {
  margin-top: 100px;
}

.row {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.alinhar-itens-centro {
  align-items: center;
}

.section {
  padding-top: 55px;
}

.section-title {
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 10px 0;
}

.redes-socais a {
  max-width: 40px;
  aspect-ratio: 1;
}

.design-aplicativo {
  background-color: var(--cor-bw-300-com-opacidade);
  border: 1px solid var(--cor-bw-50);
  backdrop-filter: var(--global-backdrop-filter);
  -webkit-backdrop-filter: var(--global-backdrop-filter);
  border-radius: var(--radius-aplicativo);
  color: var(--cor-bw-600);
}

.modo-escuro .design-aplicativo {
  background-color: var(--cor-bw-800-com-opacidade);
  border: 1px solid var(--cor-bw-800);
  color: var(--cor-bw-50);
}

.section-title h2 {
  font-size: min(var(--fonte-grande), 7vw);
  font-weight: bold;
}

.web-link {
  color: var(--cor-hiperlink);
  transition: all .1s ease;
}

.web-link:hover {
  font-weight: bold;
  border-bottom: 2px solid;
}

.design-faixa-diagonal {
  position: absolute;
  background: linear-gradient(134deg, var(--cor-azul-claro), var(--cor-hiperlink)99%);
  transform: skewY(-3deg);
  right: 0px;
  left: 0px;
  width: 100%;
  min-height: 450px;
  max-height: 630px;
  z-index: -999;
  transition: all .1s ease-in-out;
}

.modo-escuro .design-faixa-diagonal {
  background: linear-gradient(134deg, var(--cor-azul-escuro), var(--cor-hiperlink)99%);
}

.icon-home {
  width: 720px;
  position: absolute;
  z-index: -999;
  right: 0;
  bottom: 0;
}

.design-parallax {
  position: relative;
}

.habilidades-flutantes {
  position: absolute;
  width: 100%;
  top: 140px;
  height: 640px;
  overflow-x: hidden;
}

.habilidades-flutantes p {
  color: var(--cor-hiperlink);
  opacity: .4;
  position: absolute;
  user-select: none;
  animation: text-animation 7s linear infinite;
}

@keyframes text-animation {
  0% {
    opacity:.6;
  }
  50% {
    filter: blur(10px);
  }
  100% {
    opacity: .9;
  }
}

