.footer .footer-container {
    background-color: var(--cor-bw-800);
    flex-direction: column;
    clear: both;
    padding: 17px 0;
    gap: 16px;
}

.footer-redes-sociais {
    gap: .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-app{
    font-size: 1.3rem;
}
.design-aplicativo{
    padding: 8px;
}
.footer-mensagem{
    font-size: .5rem;
}