@font-face {
  font-family: 'SF Pro';
  src: url(../fonts/SFProFonts/Fonts/SF-Pro.ttf);
}

@font-face {
  font-family: 'SF Mono';
  src: url(../fonts/SFMonoFonts/Fonts/SF-Mono-Regular.otf);
}

@font-face {
  font-family: 'NY';
  src: url(../fonts/NYFonts/Fonts/NewYork.ttf);
}

html {
  font-size: 62.5%;
  color: var(--preto);
  font-weight: 300;
  scroll-behavior: smooth;
  font-family: system-ui;
}

body {
  background-color: var(--branco);
  font-family: 'SF Pro';
  font-size: var(--fonte-normal);
}
.container{
  max-width: 1140px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-center{
  justify-content: center;
  /* margin: 0 auto; */
}
.justify-content-between {
  justify-content: space-between;
}

.alinhar-itens-centro {
  align-items: center;
}

.redes-socais a {
  width: 40px;
  height: 40px;
}

.outter-shadow{
  box-shadow: 3px 3px #222327, -3px -3px 3px;
}
.inner-shadow{
  box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #454545;
}

.section{
  padding: 7rem 0 7rem;
}
.section-title{
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 60px 0;
  background-color: var(--cores-bw-100);
}
.section-title h2{
  font-size: var(--fonte-gigante);
  font-weight: 500;
  text-transform: uppercase;
}

.botao{
  font-size: var(--fonte-normal);
  font-weight: bold;
  transition: all .3s ease ;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: var(--cores-link);
}