@font-face {
  font-family: 'SF Pro';
  src: url(../fonts/SFProFonts/Fonts/SF-Pro-Text-Regular.otf);
}

@font-face {
  font-family: 'SF Pro Bold';
  src: url(../fonts/SFProFonts/Fonts/SF-Pro-Text-Black.otf);
}

@font-face {
  font-family: 'SF Mono';
  src: url(../fonts/SFMonoFonts/Fonts/SF-Mono-Regular.otf);
}

html {
  font-weight: 400;
  scroll-behavior: smooth;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--fonte-primaria);
  background-color: var(--cor-bw-50);
  font-size: var(--fonte-normal);
  transition: all .1s ease-in-out;
  overflow-x: hidden;
}

body.modo-escuro {
  background-color: var(--cor-bw-900);
  color: var(--branco);
}

.header-container {
  max-width: 1280px;
  margin: auto;
}

.container {
  max-width: 1280px;
  margin: auto;
  height: 100vh;
}

.row {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.alinhar-itens-centro {
  align-items: center;
}

.redes-socais a {
  max-width: 40px;
  aspect-ratio: 1;
}

.section-title {
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 10px 0;
  margin: 200px 0;
}

.design-aplicativo {
  background-color: var(--cor-bw-300-com-opacidade);
  backdrop-filter: var(--globalnav-backdrop-filter);
  border-radius: var(--radius-aplicativo);
  color: var(--cor-bw-600);

}

.modo-escuro .design-aplicativo {
  background-color: var(--cor-bw-800-com-opacidade);
  backdrop-filter: var(--globalnav-backdrop-filter);
  border-radius: var(--radius-aplicativo);
  color: var(--cor-bw-50);

}

.section-title h2 {
  font-size: min(var(--fonte-extra-grande), 7vw);
  font-family: var(--fonte-secundaria);
  font-weight: bold;
}

.web-link {
  color: var(--cor-hiperlink);
  transition: all .1s ease;
}

.web-link:hover {
  font-weight: bold;
  border-bottom: 2px solid;
}

.design-faixa-diagonal {
  position: absolute;
  background: linear-gradient(134deg, var(--cor-azul-claro), var(--cor-hiperlink)99%);
  transform: skewY(-3deg);
  right: 0px;
  left: 0px;
  width: 100%;
  min-height: 450px;
  max-height: 630px;
  z-index: -999;
  transition: all .1s ease-in-out;
}

.modo-escuro .design-faixa-diagonal {
  background: linear-gradient(134deg, var(--cor-azul-escuro), var(--cor-hiperlink)99%);
}


.icon-home {
  max-width: 45vw;
  position: absolute;
  z-index: -999;
  right: 0;
  bottom: 0;

}

@media (max-width:425px) {
  .section-title {
    margin-bottom: 60px;
  }

}