@font-face {
  font-family: 'SF Pro';
  src: url(../fonts/SFProFonts/Fonts/SF-Pro.ttf);
}

@font-face {
  font-family: 'SF Mono';
  src: url(../fonts/SFMonoFonts/Fonts/SF-Mono-Regular.otf);
}

@font-face {
  font-family: 'NY';
  src: url(../fonts/NYFonts/Fonts/NewYork.ttf);
}

html {
  font-size: 62.5%;
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  font-family: 'SF Pro';
  background-color: var(--branco);
  font-size: var(--fonte-normal);
}

body.modo-escuro {
  background-color: var(--cor-bw-900);
  color: var(--branco);
}

.header-container {
  max-width: 1440px;
  margin: auto;
}

.container {
  max-width: 1440px;
  min-height: 89vh;
  margin: auto;
  /* background-color: blueviolet; */
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.alinhar-itens-centro {
  align-items: center;
}

.redes-socais a {
  width: 40px;
  height: 40px;
}

.outter-shadows {
  box-shadow: 3px 3px #222327, -3px -3px 3px;
  background-color: red;
}

.inner-shadow {
  box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #454545;
}

.section {
  padding: 5rem 0 3rem;
}

.section-title {
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 10px 0;
  background-color: var(--cor-bw-200-com-opacidade);
  backdrop-filter: var(--globalnav-backdrop-filter);
  border-radius: var(--radius-aplicativo-ultra-wide);
}

.modo-escuro .section-title{
  background-color: var(--cor-bw-800-com-opacidade);
}

.section-title h2 {
  font-size: var(--fonte-extra-grande);
  font-family: var(--fonte-secundario);
  font-weight: bold;
  text-transform: uppercase;
}

.botao {
  font-size: var(--fonte-normal);
  font-weight: bold;
  transition: all .3s ease;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: var(--cor-hiperlink);
}
.web-link{
  color: var(--cor-hiperlink);
}

/* .blur{
  background-color: red;
  background-color: var(--cor-bw-200-com-opacidade);
  backdrop-filter: var(--globalnav-backdrop-filter);
} */