.habilidades .container-habilidade {
    background-color: var(--cor-azul-claro);
    /* display: flex; */
    flex-wrap: wrap;
    text-align: center;
    height: 95vh;
    justify-content: center;
    align-items: center;
}
.modo-escuro .habilidades .container-habilidade {
    background-color: var(--cor-azul-escuro);
}


.habilidades .container-habilidade .informacoes {
    /* background-color: rebeccapurple; */
    max-width: 250px;
    padding: 40px 20px;
}

.habilidades .container-habilidade .informacoes p,
.habilidades .container-habilidade .informacoes h3,
.habilidades .container-habilidade .informacoes .logo i {
    transition: .3s ease;
}

.habilidades .container-habilidade .informacoes h3 {
    color: var(--cor-hiperlink);
    font-size: var(--fonte-grande);
    font-family: var(--fonte-secundaria);
    font-weight: bold;
    /* margin-bottom: 20px; */
}

.habilidades .container-habilidade .informacoes p {
    /* font-size: 40px ; */
    text-align: justify;
    color: var(--cor-bw-600);
}
.modo-escuro .habilidades .container-habilidade .informacoes p {
    /* font-size: 40px ; */
    color: var(--cor-bw-300);
}

.habilidades .container-habilidade .informacoes .logo i {
    font-size: 50px;
    color: var(--cor-hiperlink);
    text-shadow: 0rem 0rem 10rem var(--cor-bw-800);

}
