.home .fullscreen {
  min-height: 86vh;
  padding: 50px 0;
  /* display: flex; */
  justify-content: space-between;

}



.redes-sociais {
  padding: 15px 0;
  gap: 20px;
}

.redes-sociais .rede {
  /* background-color: var(--cor-bw-300-com-opacidade); */
  /* backdrop-filter: var(--globalnav-backdrop-filter); */
  padding: 20px;
  /* border-radius: var(--radius-aplicativo); */
  transition: var(--transition-linear);
  color: var(--cor-bw-700);
  font-size: min(var(--fonte-extra-grande), 5.8vw);
}

.modo-escuro .redes-sociais .rede {
  background-color: var(--cor-bw-800-com-opacidade);
  color: var(--cor-bw-50);

}

.redes-sociais .rede:hover {
  color: var(--cor-hiperlink);
  transform: scale(1.1);
  box-shadow: 0px 0px 20px var(--cor-hiperlink);
  text-shadow: 0rem 0rem 5rem var(--cor-hiperlink);
}

.home .texto-home h1 {
  font-weight: 900;
  font-size: min(var(--fonte-extra-grande), 8vw);
  color: var(--cor-hiperlink);
  text-wrap: nowrap;
}

.home .texto-home .descricao-texto {
  letter-spacing: 0.2rem;
  color: var(--cor-bw-600);
}

.home .texto-home .descricao-texto {
  color: var(--cor-bw-400);
}

.home .card-code {
  padding: 40px 20px;
  font-family: var(--fonte-secundaria);
}

.modo-escuro .home .card-code {
  background-color: var(--cor-bw-800-com-opacidade);
}
@media (max-width:1440) {
  .section{
    padding: var(--mobile-padding);
  }
}

@media (max-width: 768px) {
  .home .fullscreen {
    flex-wrap: wrap;
    justify-content: center;
  }

  .home .texto-home {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    /* padding: var(--mobile-padding); */
  }

  .redes-sociais {
    justify-content: center;
  }

}
@media (max-width: 1440px) {
  .home {
      padding: var(--mobile-padding);
  }
}
@media (max-width: 425px) {
  .home {
      /* padding: 60px; */
  }
  .home .card-code {
    padding: 40px 10px;
font-size: .5em;
    /* font-family: var(--fonte-secundaria); */
  }
}