.projetos .container-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 0 var(--mobile-padding);
}

@media(max-width: 768px) {
    .projetos .container-projetos {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.projeto {
    position: relative;
    aspect-ratio: 4 / 5;
    border-radius: var(--radius-aplicativo-wide);
    overflow: hidden;
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

.projeto:hover .poster:hover {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.projeto:hover .poster img {
    transform: scale(1.1);
}

.detalhes {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background-color: var(--cor-bw-300-com-opacidade);
    backdrop-filter: var(--globalnav-backdrop-filter);
    transition: .3s;
    z-index: 2;
}
.modo-escuro .detalhes{
    background-color: var(--cor-bw-800-com-opacidade);
}

.projeto:hover .detalhes {
    bottom: 0;
}

.detalhes h3,
.detalhes h4 {
    font-weight: 700;
}

.detalhes h3 {
    font-size: min(var(--fonte-grande), 4vw);
    margin-bottom: 5px;
}

.detalhes h4 {
    font-weight: 400;
    margin-bottom: 10px;
    opacity: .6;
}

.detalhes .nivel-dificuldade {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}

.detalhes .nivel-dificuldade i {
    color: var(--cor-amarelo);
}

.detalhes .nivel-dificuldade span {
    margin-left: 0.25em;
}

.detalhes .linguagens {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: var(--fonte-pequena);
}

.detalhes .linguagens span {
    padding: .35rem .65rem;
    border: 1.5px solid;
    opacity: .6;
    border-radius: var(--radius-aplicativo-wide);
}

.detalhes .informacoes-projeto {
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
}

.links-acesso-projeto{
    margin-top: 1rem;
}