.sobre-mim .container-sobre-mim {
    align-items: center;

}

.sobre-mim .img-sobre-mim {
    max-width: 240px;
    display: flex;
    border-radius: var(--radius-aplicativo);
}

.sobre-mim .img-sobre-mim img {
    border-radius: var(--radius-aplicativo);   
}

.sobre-mim .texto-sobre-mim {
    padding: 0 25px;
}

.sobre-mim .texto-sobre-mim p {
    font-family: var(--fonte-secundaria);
    font-weight: 300;
}

.modo-escuro .sobre-mim .informacoes-sobre-mim p {
    color: var(--cor-bw-300);
}