:root {
  --preto-300: hsl(0, 0%, 19%);
  --preto-400: hsl(0, 0%, 27%);
  --preto-900: hsl(0, 0%, 60%);
  --preto-000: hsl(0, 0%, 0%);

  --branco-300: hsl(240, 33%, 99%);
  --branco-800: hsl(0, 0%, 78%);
  --branco-800: hsla(0, 0%, 78%, 0.5);
  --branco-900: hsl(0, 0%, 90%);
  --branco-000: hsl(0, 0%, 100%);

  --azul-claro: #C7D0FF;
  --azul-link: #2997ff;
}

:root {
  --fonte-primaria: 'SF Pro', sans-serif;
  --fonte-secundaria: 'SF Mono', monospace;
  --fonte-terciaria: 'NY', serif;

  --fonte-gigante: 4.5rem;
  --fonte-extra-grande: 3rem;
  --fonte-grande: 2.4rem;
  --fonte-normal: 1.6rem;
}

:root {
  --mobile-padding: 30px;
}