:root {
    --black-dark: #000000;
    --black-midium: #444444;
    --black-soft: #303030;

    --white-0: #f5f5f7;
    --white-1: #fbfbfd;
    --white-2: #F8F8F8;

    --blue-soft: #C7D0FF;
    --blue-midium: #2997ff;
}



:root {


    --cor-primaria: #43bd8e;
    --cor-secundaria: #FD6C22;    
    --cor-branca: #fff;
    --cor-fundo-escuro: #040203;    
    --cor-fundo-cinza-escuro: #282828;
    --cor-fundo-cinza-claro: #353535;    
  }
    
  :root {
    --fonte-primaria: 'SF Pro', sans serif;
    --fonte-secundaria: 'SF Mono', serif;
    --fonte-terciaria: 'NY', sans serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }